#homepage {
  #guess-number {
    #guess-form {
      margin: 1rem auto;
      padding: 1rem;
      max-width: 60rem;
      background-color: hsl(var(--clr-lighter));
      flex-wrap: wrap;

      p {
        width: 100%;
        text-align: center;
        font-weight: bold;
      }

      #guess-input {
        width: auto;
        padding: 0.4rem;
        text-align: center;
        @media (width > 40rem) {
          width: 70%;
        }
      }

      button {
        padding-inline: 2rem;
      }
    }
  }

  #ttt-game {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 60rem;
    background-color: hsl(var(--clr-lighter));
    @media (width>40rem) {
      grid-template-columns: 2fr 1fr;
    }

    & > .grid {
      grid-template-columns: repeat(3, 1fr);

      .box {
        cursor: pointer;
        min-height: 6rem;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        background-color: hsl(var(--clr-darker));
      }
    }

    aside {
      min-height: 6rem;
      font-weight: bold;

      .flex {
        @media (width>40rem) {
          margin-top: 2rem;
          flex-direction: column;
        }
      }
    }
  }

  #rps-game {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 60rem;
    background-color: hsl(var(--clr-lighter));
    @media (width>40rem) {
      grid-template-columns: 2fr 1fr;
    }

    & > .grid {
      @media (width>40rem) {
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);

        #rps-player {
          grid-area: 1/1/4/2;
          flex-direction: column;
        }
        #rps-info {
          grid-area: 1/2/4/4;
        }
        #rps-bot {
          grid-area: 1/4/4/5;
          flex-direction: column;
        }
        #rps-options {
          grid-area: 4/1/5/5;
        }
      }
      & > * {
        min-height: 6rem;
        background-color: hsl(var(--clr-darker));

        p,
        button {
          font-size: 2rem;
          font-weight: bold;
          color: white;
        }
      }

      #rps-options {
        background-color: hsl(var(--clr-lighter));
        button {
          background-color: hsl(var(--clr-darker));
        }
      }
    }

    aside {
      min-height: 6rem;
      font-weight: bold;

      .flex {
        @media (width>40rem) {
          margin-top: 6rem;
          flex-direction: column;
        }
      }
    }
  }

  #play {
    & > .grid {
      margin-block: 2rem;
      place-items: center;
      @media (width > 40rem) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (width > 60rem) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (width > 80rem) {
        grid-template-columns: repeat(4, 1fr);
      }

      article {
        padding: 1rem;
        width: fit-content;
        background: radial-gradient(
          hsl(var(--clr-darker), 0.4),
          hsl(var(--clr-lighter), 0.6)
        );
        border-radius: 1rem;

        a {
          display: block;
          overflow: hidden;

          img {
            aspect-ratio: 1/1;
          }

          .link {
            margin: 0.4rem 0;
            width: 100%;
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }
}
